@model IEnumerable<chocowrappers.Models.User>

@{
    ViewData["Title"] = "List of users";
}

<div class="container justify-content-center">
    <div class="row justify-content-center">
        <div class="col justify-content-center">
            @if (Model != null)
            {
                <table class="table">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Id)</th>
                        <th>@Html.DisplayNameFor(model => model.Name)</th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.ActionLink("View", "ViewUser", "User", new {id = item.Id})
                            </td>
                        </tr>
                    }
                </table>
            }
        </div>
    </div>
</div>